<div class='game' data-game-id="<%= @game.id %>"></div>
<div class='current_user' data-current-user-id="<%= current_user.id%>"></div>
<span data-player1-id="<%= @user1.id %>"></span>
<p data-player2-id="<%= @user2 && @user2.id %>"></p>

<% if current_user.id == @user1.id %>
  <%= "You're Player1. Press 'q' to move!" %>
<% else %>
  <%= "You're Player2.  Press 'p' to move!" %>
<% end %>


<table>
  <tr class='player1-board'>
    <% 10.times do |n| %>
      <td><%= n %></td> 
    <% end %>
  </tr>

  <tr class="blank_row">
    <td colspan="3"></td>
  </tr>

  <tr class='player2-board'>
    <% 10.times do |n| %>
      <td><%= n %></td> 
    <% end %>
  </tr> 
</table>

<script type="text/javascript">

function Player(id) {
  this.id       = id;
  this.position = 1;
}

Player.prototype.advance = function() {
  this.position ++;
};

function Game(player1, player2, id) {
  this.player1    = player1;
  this.player2    = player2;
  this.player2Id  = null;
  this.startTime  = $.now();
  this.boardSize  = 10;
  this.gameTime   = null;
  this.winner     = null;
  this.loser      = null;
  this.id         = id;
}

Game.prototype.finished = function() {
  if(game.player1.position == game.boardSize || game.player2.position == game.boardSize){
    game.gameTime = game.startTime - $.now();
    return true;
  } else {
    return false;
  }
}

Game.prototype.updateBoard = function() {
  $("td").removeClass("active");
  $(".player1-board td:nth-child(" +player1.position+ ")").addClass("active");
  $(".player2-board td:nth-child(" +player2.position+ ")").addClass("active");
}

Game.prototype.onKeyUp = function(event) {
  if (game.finished() == true){
    $(location).attr('href', '/users/' + $('.current_user').attr('data-current-user-id'))
  } else {
    if(event.keyCode == 81){
      player1.advance();
      $.ajax({
        url: '/games/'+ game.id +'/move',
        type: 'PUT',
        data: {user_id: player1.id},
        success: function(data) {
          player1.position = data.p1_position;
          player2.position = data.p2_position;
          player2.id       = data.p2_id;
          game.updateBoard();
        }
      });
      game.updateBoard();
      if(game.finished() == true){
        game.winner = player1;
        game.loser  = player2;
        $.ajax({
          url: '/games/' + game.id + '/results',
          type: 'POST',
          data: {game_time: game.gameTime, winner: game.winner, loser:  game.loser, position: {player1: game.player1.position, player2: game.player2.position}},
          success: function(data) {
            $(location).attr('href', '/users/' + $('.current_user').attr('data-current-user-id'))
          }
        });
      }
    }
    else if(event.keyCode == 80){
      player2.advance();
      $.ajax({
        url: '/games/'+ game.id +'/move',
        type: 'PUT',
        data: {user_id: player2.id},
        success: function(data) {
          player1.position = data.p1_position;
          player2.position = data.p2_position;
          player2.id       = data.p2_id;
          game.updateBoard();
        }
      });
      game.updateBoard();
      if(game.finished() == true){
        game.winner = player2;
        game.loser  = player1;
        $.ajax({
          url: '/games/' + game.id + '/results',
          type: 'POST',
          data: {game_time: game.gameTime, winner: game.winner, loser:  game.loser, position: {player1: game.player1.position, player2: game.player2.position}},
          success: function(data) {
            $(location).attr('href', '/users/' + $('.current_user').attr('data-current-user-id'))
          }
        });
      }
    }
  }  
}

jQuery(document).ready(function($) {
  var gameId = $('.game').attr('data-game-id');
  var p1Id = $("span").attr("data-player1-id"); 
  var p2Id = $("p").attr("data-player2-id"); 
  var currentUserId = $('.current_user').attr('data-current-user-id');
  player1 = new Player(p1Id);
  player2 = new Player(p2Id);
  game = new Game(player1, player2, gameId);
  game.updateBoard();
  $(document).on('keyup', game.onKeyUp);
});


// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
</script>
